.Calculator__Starter {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Calculator__showBar {
  background-color: black;
  padding:16px;
  border: none;
  color: white;
  font-size: 40px;
  font-weight: 1000;
  line-height: 0.4em;
  width: 24.5%;
  text-align: right;
  /*background: rgb(254, 254, 254)*/;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.048);
  border: 1px solid rgba(0, 0, 0, 0.089);
  height: 5rem;
  border-radius: 20px;
  overflow: hidden;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Calculator__column1 button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin: 8px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  transition: 0.4s;
  flex: 1 1 0%;
}

.Calculator__column2 button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin: 8px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  transition: 0.4s;
  flex: 1 1 0%;
}

.Calculator__column3 button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin: 8px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  transition: 0.4s;
  flex: 1 1 0%;
}

.Calculator__column4 button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin: 8px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  transition: 0.4s;
  flex: 1 1 0%;
}

.Calculator__column5 button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin: 8px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  transition: 0.4s;
  flex: 1 1 0%;
}

button:hover {
  opacity: 0.9;
}
